
<h1><center> <%= link_to 'Add a new city to your profile', new_city_path %></center></h1>



<% @cities.each do |city| %>


<div class="col-md-6">
  <div class="weather-card one ">

    <% if  weather_get(city.name).parsed_response['weather'][0]['main'].include? "Clouds" %>
    <div class="top-cloud">

      <% elsif  weather_get(city.name).parsed_response['weather'][0]['main'].include? "Thunderstorm" %>
      <div class="top-Thunderstorm">

        <% elsif  weather_get(city.name).parsed_response['weather'][0]['main'].include? "Drizzle" %>
        <div class="top-Drizzle">

          <% elsif  weather_get(city.name).parsed_response['weather'][0]['main'].include? "Rain" %>
          <div class="top-Rain">

            <% elsif  weather_get(city.name).parsed_response['weather'][0]['main'].include? "Snow" %>
            <div class="top-Snow">

              <% elsif  weather_get(city.name).parsed_response['weather'][0]['main'].include? "Atmosphere" %>
              <div class="top-Atmosphere">

                <% elsif  weather_get(city.name).parsed_response['weather'][0]['main'].include? "Clear" %>
                <div class="top-Clear">

                  <% elsif  weather_get(city.name).parsed_response['weather'][0]['main'].include? "Extreme" %>
                  <div class="top-Extreme">

                    <% elsif  weather_get(city.name).parsed_response['weather'][0]['main'].include? "Additional" %>
                    <div class="top-Additional">

      <% else %>
      <div class="top">
<% end %>

      <div class="wrapper">
        <div class="mynav">


          <%= link_to  city, method: :delete, data: { confirm: 'Are you sure?' } do  %>
          <span class="lnr lnr-cross-circle"></span>
          <% end %>
        </div>
        <h1 class="heading">Current Weather for <br>
          <%= weather_get(city.name).parsed_response['name'] %> ,
          <%= weather_get(city.name).parsed_response['sys']['country'] %></h1>
          <h3 class="location"></h3>
          <br>
          <br>
          <p class="temp">
            <span class="temp-value"><%= weather_get(city.name).parsed_response['main']['temp'].to_i %></span>
            <span class="deg">0</span>
            <a href="javascript:;"><span class="temp-type">F</span></a>
          </p>
          <br>
          <p class="temp">
            <span><h1 class="heading-2"><strong><%= weather_get(city.name).parsed_response['weather'][0]['main'] %></strong></h1></span>
          </p>
          <h1 class="heading-3"><%= link_to 'Show more information', city %></h1>
        </div>
      </div>
      <div class="bottom">
        <div class="wrapper">
          <ul class="forecast">
            <a href="javascript:;"><span class="lnr lnr-chevron-up go-up"></span></a>
            <li class="active">
              <span class="date">Max Temperature</span>
              <span class="lnr lnr-sun condition">
                <span class="temp"> <%= weather_get(city.name).parsed_response['main']['temp_max'] %>
                  <span class="deg">0</span><span class="temp-type">F</span></span>
                </span>
              </li>
              <li class="active">
                <span class="date">Min Temperature</span>
                <span class="lnr lnr-cloud condition">
                  <span class="temp"><%= weather_get(city.name).parsed_response['main']['temp_min'] %><span class="deg">0</span><span class="temp-type">F</span></span>
                </span>
              </li>
            </ul>
          </div>




        </div>
      </div>
    </div>

    <% end if @cities.any? %>
