
<h1><center> <%= link_to 'Add a new city to your profile', new_city_path %></center></h1>



<% @cities.each do |city| %>

<!-- <div class="col"> -->
<div class="col-md-6">
  <div class="weather-card one ">
    <div class="top">
      <div class="wrapper">
        <div class="mynav">
          <!-- <a href="javascript:;"><span class="lnr lnr-chevron-left"></span></a> -->

          <%= link_to  city, method: :delete, data: { confirm: 'Are you sure?' } do  %>
          <span class="lnr lnr-cross-circle"></span>
          <% end %>
        </div>
        <h1 class="heading">Current Weather for <br>
          <%= weather_get(city.name).parsed_response['name'] %> ,
          <%= weather_get(city.name).parsed_response['sys']['country'] %></h1>
          <h3 class="location"></h3>
          <br>
          <br>
          <p class="temp">
            <span class="temp-value"><%= weather_get(city.name).parsed_response['main']['temp'].to_i %></span>
            <span class="deg">0</span>
            <a href="javascript:;"><span class="temp-type">F</span></a>
          </p>
          <br>
          <p class="temp">
            <span><h1 class="heading-2"><strong><%= weather_get(city.name).parsed_response['weather'][0]['main'] %></strong></h1></span>
          </p>
          <h1 class="heading-3"><%= link_to 'Show more information', city %></h1>
        </div>
      </div>
      <div class="bottom">
        <div class="wrapper">
          <ul class="forecast">
            <a href="javascript:;"><span class="lnr lnr-chevron-up go-up"></span></a>
            <li class="active">
              <span class="date">Max Temperature</span>
              <span class="lnr lnr-sun condition">
                <span class="temp"> <%= weather_get(city.name).parsed_response['main']['temp_max'] %>
                  <span class="deg">0</span><span class="temp-type">F</span></span>
                </span>
              </li>
              <li class="active">
                <span class="date">Min Temperature</span>
                <span class="lnr lnr-cloud condition">
                  <span class="temp"><%= weather_get(city.name).parsed_response['main']['temp_min'] %><span class="deg">0</span><span class="temp-type">F</span></span>
                </span>
              </li>
            </ul>
            <!-- </div> -->
          </div>




        </div>
      </div>
    </div>

    <% end if @cities.any? %>
